html{
    height: 110%;
}

body {
    min-height: 100vh;
    background-color: white;
    font-family:  'Open Sans';

}

h1 {
    font-size: 30px;
}
h2{
    position: absolute;
    top: 85%;
    left: 20%;
}
body, .topNav, .navBar {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.topNav {
    position: absolute;
    left: 60px;
    background-color: #f2f2f2;
    padding: 20px;
    height: 40px;
    transition: 0.5s;
    border-radius: 050px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
}

.navBar {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}
.topNav input:checked ~ .navBar {
    width: 470px;
    height: 50px;
}

.navBar li {
    list-style: none;
    margin: 10px;
}
.navBar li a {
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
    font-size: 17px;
}
.navBar li a:hover {
    color: #161919;
}
.topNav input {
    width: 40px;
    height: 50px;
    cursor: pointer;
    opacity: 0;
}
.topNav span {
    position: absolute;
    left: 30px;
    width: 30px;
    height: 7px;
    border-radius: 50px;
    background-color: #595959;
    pointer-events: none;
    transition: 0.5s;
}
.topNav input:checked ~ span {
    background-color: #77773c;
}
.topNav span:nth-child(2) {
    transform: translateY(-8px);
}
.topNav input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}
.topNav span:nth-child(3) {
    transform: translateY(8px);
}
.topNav input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}

#piechart{
    position: absolute;
    top: 30%;
    left: 20%;
    font-family: "Prompt";
    font-size: 15px;
}
#results{
    position: absolute;
    top: 90%;
    left: 20%;
}
table {
    border-collapse: collapse;
}
td, th {
    border: 1px solid black;
    padding: 4px 4px 4px 4px;
}