h1 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-align: center;
}
ul {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    width: 40%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
}
ul#menu li a {
    font-family: "Quicksand", sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li {
    font-family: "Quicksand", sans-serif;
    float: left;
    border-right: 1px solid #bbb;
}
li a:hover {
    background-color: #a3a375;
}
a:active {
    color: #999999;
}